<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/login-image.jpg');">
        <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-8 col-sm-12 ml-auto mr-auto">
                        <div class="card card-register">
                            <h3 class="title">Connexion</h3>
                            <form class="register-form">
                                <label>Email<span>*</span></label>
                                <div class="input-group form-group-no-border"
                                    [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="nc-icon nc-email-85"></i>
                                        </span>
                                    </div>

                                    <input type="text" id="email" class="form-control" placeholder="Email" (focus)="focus=true"
                                        (blur)="focus=false" [(ngModel)]="email">
                                </div>

                                <label>Mot de passe <span>*</span></label>
                                <div class="input-group form-group-no-border"
                                    [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="nc-icon nc-key-25"></i>
                                        </span>
                                    </div>
                                    <input type="password" class="form-control" placeholder="Mot de passe" (focus)="focus1=true"
                                        (blur)="focus1=false" [(ngModel)]="password">
                                </div>

                                <button class="btn btn-danger btn-block btn-round" 
                                    [disabled]="!email || !password">
                                    Se connecter
                                </button>                                <!-- <button class="btn btn-danger btn-block btn-round">Register</button> -->
                            </form>
                        </div>
                        <div class="col text-center" routerLinkActive="active">
                            <a [routerLink]="['/signup']" class="btn btn-outline-neutral btn-round btn-lg">Inscription</a>
                        </div>
                    </div>
                </div>
              
            </div>
    </div>
</div>
